# PyInstaller build artifacts
build/
dist/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Test artifacts
.pytest_cache/

# Virtual environments
venv/
.venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
